.meme-container {
  padding: 1rem 2.5rem;
  display: none;
  justify-content: space-evenly;
  background-color: transparent;
  gap: 10px;
}

.meme-container::after {
  content: "";
  background-image: url(../img/bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.meme-container > * {
  background-color: #ebeef315;
  border-radius: 20px;
}

.canvas-container {
  padding: 20px 20px;
  width: 400px;
}

.edit-settings-container {
  padding: 20px 20px;
  width: 400px;
  gap: 10px;
  justify-content: center;
}

.input-meme-text {
  color: rgb(51, 51, 51);
  text-align: center;
  font-size: 1.3em;
  margin: 0%;
}

.line-setting-btn-container {
  justify-content: center;
  gap: 10px;
}

.btn-switch {
  box-shadow: 1px 5px 0 #048b97fb;
  background-image: linear-gradient(
    -38deg,
    #66c4dc 0%,
    #40b1ce 50%,
    #0c98bb 100%
  );
}

.btn-add {
  color: #ebeef3;
  font-size: 50px;
  box-shadow: 1px 5px 0 #015d33;
  text-shadow: 1px 3px 0 rgba(1, 93, 51, 0.61);
  background-image: linear-gradient(-38deg, #42eb5c 0%, #37b34a 100%);
}

.btn-remove {
  box-shadow: 1px 5px 0 #8c0606;
  background-image: linear-gradient(
    -38deg,
    #cf1d37 0%,
    #cf1d37 1%,
    #f05036 100%
  );
  padding-top: 7px;
}

.text-setting-btn-container {
  border-radius: 15px;
  padding: 10px;
  background-color: #19a59f;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));
  gap: 5px;
  justify-items: center;
}

.font-select {
  grid-column: 4/7;
  width: 100%;
  border-radius: 10px;
  padding-inline-start: 10%;
  font-size: 1rem;
}

.share-btn {
  font-family: Poppins-Regular;
  width: 210px;
  height: 50px;
  color: white;
  font-size: 21px;
  box-shadow: 1px 1px 0 #1e7cd3;
  background-image: linear-gradient(
    -38deg,
    #1e7cd3 0%,
    #1e7cd3 50%,
    #1e7cd3 100%
  );
}

.share-btn::before {
  content: url(../img/btn-share.png);
}

.download-btn {
  font-family: Poppins-Regular;
  width: 210px;
  height: 50px;
  color: white;
  font-size: 21px;
  text-decoration: none;
  box-shadow: 1px 6px 0 #632687;
  background-image: linear-gradient(
    -38deg,
    #8f44bb 0%,
    #8f44bb 50%,
    #8f44bb 100%
  );
}

.download-btn::before {
  content: url(../img/btn-download.png);
}
